<h3>Todos List</h3>

@if (!todoItems().length) {
<span>Loading......</span>
}

@if (todoItems().length) {
<form>
    <label for="">Filters Todos</label>
    <div style="margin: 10px 0">
        <input type="text" placeholder="search todo.." name="searchTerm" [(ngModel)]="searchTerm">
    </div>
</form>
}

<ul class="todos">
    @for (todo of todoItems() | searchtodo:searchTerm(); track todo.id) {
    <li class="todos__item" appHighlighttask [isCompleted]="todo.completed">
        <input id="todo-{{todo.id}}" type="checkbox" [value]="todo.completed" [(ngModel)]=todo.completed>
        <label for="todo-{{todo.id}}">{{todo.title }}</label>
    </li>
    }
</ul>